
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.idea/workspace.xml
app/build/intermediates/dex/debug/mergeProjectDexDebug/out/classes.dex
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+7tZSNXS8X5ARalEtlPbw6MYbD8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1Kcdjt0m8OvE+JHoEnn5MpKGyp4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2eukkE_kHzeUtGA4gB+FVBSIneY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4+S+XxJpG+oIdMTS0XJz7QiWX+o=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/40jFiGMShU4UwVIcYu0JTBFmZbs=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6kXUDxJF_vUcv+DBCaSCoEcNc6E=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7Nef_KeEY5RyqGZ_t04fNK1Nbo8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/87fjLnGLFRoS5sTpYH4iiDQoETc=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9v6DUZhzvXrkZ2JEBlc1X9fTJmE=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_23ROiYqfKaESYMzaJtGIytbGnQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_98gHS7f+2q_DvYVkJX6fiPQDnE=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_MemgQu5UojwtqHdPrOPHwFpbWw=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_nfzvGmVGCFtKV7uOJbxnujf_9k=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/b5ODNXVfQMls8E97ayqopX0CkUM=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BQ7X3IK9Ioln19rFKXMfIZVYxe4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cfLGjPViJrt7n+MDoZZ0lWiuc+A=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/D0RyvOglEdNhbnc2SVgR3fN1A9g=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/d4rdrmH1iIauw5u4PcQ+91g93DQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dj1+a_CYPal2CKTqPfhYVTRyndE=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DS_qmoxzasUz92RT1IaCqYyPPIo=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/f1xpKdQlFMSkrUNVew8vHRVifpI=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gWllUOjklg4H6UbtaPBgN1_aPrA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hC83vV1RcINHl3+TbAmXjrfwKWA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hh33nzLhK59pWjW3FD9+SUxTTCA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HnDjwpw5qKnc+MlN1F26FGLIKTk=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HRHy4jHhXiFzVTJ6mzCjTO1hveQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hzjQsZf7Xz6APBJMkvJ9vTOHGd4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IGE1GenuF+TcVYGo_yCK44MJk6A=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/j+K5_tLS8qrgrVGMxzES3fvwOFo=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/L8POoZ+veXKUo0hoY5Qu9fjzMsY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/M41XYrU8OYJopajpkBEDgflFHi4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mHTYIv8J_VASlXQtm0VRYXtJalw=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MUBR9thpwgIUQhONefA02B7Ivq8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NCmWVkjKWueUoBWvkQU3aNgfnAk=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Pfd+dX7Dvz_s+r988W_Yz8wCnNA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pLVw2cU0OJfCf7UcfBjJDfKZfyQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pV+hoPS0I3GhIVhTmaeyXt8IUME=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QFUedk0zXO+a2GrakFWj9wBiPeg=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/r7S9sYc_GdCYjYZjGUALB4pxjUs=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rDufS6NKSn7M+5DYsTCm2s8g1HA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rH55mGsoMIN80NB+k+OX+m19FOY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RKR86BAW6Yn6iw_vhpzBdRL15Ko=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ti7PA8ClGIBWIQ1gKzXLsIVwuys=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vh2oDQdzcJlxo5X9A9XLcrpTWS4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VSuhKJlkDghZ0h9pyE3HxXQtMnc=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VXxhuGaR8q99GaBAQ5K1WfZg0Sg=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Wjjvkur2UBCOKu9WWz4q8Kpf85Y=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WrtIVDpNPgabMeM2F3xt4M6LOC0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XaHdo7vCGoFrTvq1rwzTPOaT19M=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xTE20Q2FNF+CR+ytWrgnoBnMPAQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XUFcE6L+ytRiaJwV5KOabYSgbAY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Yov3ILYDXlf1UNE3rcBNItMDOC8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YSLAP7YhVoWnQwWU7O26VrHj8+o=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+7tZSNXS8X5ARalEtlPbw6MYbD8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/1Kcdjt0m8OvE+JHoEnn5MpKGyp4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/2eukkE_kHzeUtGA4gB+FVBSIneY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/4+S+XxJpG+oIdMTS0XJz7QiWX+o=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/40jFiGMShU4UwVIcYu0JTBFmZbs=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/6kXUDxJF_vUcv+DBCaSCoEcNc6E=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/7Nef_KeEY5RyqGZ_t04fNK1Nbo8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/87fjLnGLFRoS5sTpYH4iiDQoETc=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/9v6DUZhzvXrkZ2JEBlc1X9fTJmE=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_23ROiYqfKaESYMzaJtGIytbGnQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_98gHS7f+2q_DvYVkJX6fiPQDnE=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_MemgQu5UojwtqHdPrOPHwFpbWw=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_nfzvGmVGCFtKV7uOJbxnujf_9k=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/b5ODNXVfQMls8E97ayqopX0CkUM=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/BQ7X3IK9Ioln19rFKXMfIZVYxe4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/cfLGjPViJrt7n+MDoZZ0lWiuc+A=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/D0RyvOglEdNhbnc2SVgR3fN1A9g=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/d4rdrmH1iIauw5u4PcQ+91g93DQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Dj1+a_CYPal2CKTqPfhYVTRyndE=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/DS_qmoxzasUz92RT1IaCqYyPPIo=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/f1xpKdQlFMSkrUNVew8vHRVifpI=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/gWllUOjklg4H6UbtaPBgN1_aPrA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/hC83vV1RcINHl3+TbAmXjrfwKWA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/hh33nzLhK59pWjW3FD9+SUxTTCA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/HnDjwpw5qKnc+MlN1F26FGLIKTk=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/HRHy4jHhXiFzVTJ6mzCjTO1hveQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/hzjQsZf7Xz6APBJMkvJ9vTOHGd4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/IGE1GenuF+TcVYGo_yCK44MJk6A=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/j+K5_tLS8qrgrVGMxzES3fvwOFo=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/L8POoZ+veXKUo0hoY5Qu9fjzMsY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/M41XYrU8OYJopajpkBEDgflFHi4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/mHTYIv8J_VASlXQtm0VRYXtJalw=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/MUBR9thpwgIUQhONefA02B7Ivq8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/NCmWVkjKWueUoBWvkQU3aNgfnAk=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Pfd+dX7Dvz_s+r988W_Yz8wCnNA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/pLVw2cU0OJfCf7UcfBjJDfKZfyQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/pV+hoPS0I3GhIVhTmaeyXt8IUME=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/QFUedk0zXO+a2GrakFWj9wBiPeg=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/r7S9sYc_GdCYjYZjGUALB4pxjUs=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/rDufS6NKSn7M+5DYsTCm2s8g1HA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/rH55mGsoMIN80NB+k+OX+m19FOY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/RKR86BAW6Yn6iw_vhpzBdRL15Ko=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Ti7PA8ClGIBWIQ1gKzXLsIVwuys=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/vh2oDQdzcJlxo5X9A9XLcrpTWS4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/VSuhKJlkDghZ0h9pyE3HxXQtMnc=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/VXxhuGaR8q99GaBAQ5K1WfZg0Sg=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Wjjvkur2UBCOKu9WWz4q8Kpf85Y=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/WrtIVDpNPgabMeM2F3xt4M6LOC0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/XaHdo7vCGoFrTvq1rwzTPOaT19M=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/xTE20Q2FNF+CR+ytWrgnoBnMPAQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/XUFcE6L+ytRiaJwV5KOabYSgbAY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Yov3ILYDXlf1UNE3rcBNItMDOC8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/YSLAP7YhVoWnQwWU7O26VrHj8+o=
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-as/values-as.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-land/values-land.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-or/values-or.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-port/values-port.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/values-v16.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v17/values-v17.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/values-v18.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/values-v22.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/values-v23.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/values-v24.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/values-v25.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v26/values-v26.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v28/values-v28.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-watch-v20/values-watch-v20.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-watch-v21/values-watch-v21.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/O0Cy8VOUcF546R3XQiDJT5GfyJY=
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/rPlucV3s4sApU0nvo60FFnbG9ls=
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter$2.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter$MyViewHolder.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter$1.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter$MyViewHolder.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter$1.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter$MyViewHolder.class
app/build/intermediates/javac/debug/classes/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter.class
app/build/intermediates/res/merged/debug/layout_item_scan_chapter_selection.xml.flat
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter$2.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter$MyViewHolder.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelAnimeAdapter.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter$1.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter$MyViewHolder.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/FirstLevelMovieAdapter.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter$1.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter$MyViewHolder.dex
app/build/intermediates/transforms/dexBuilder/debug/0/com/wallaby/otaku/recyclerAdapters/SaisonExplorerAdapter.dex
app/build/outputs/apk/debug/app-debug.apk
